.user-container {
    background-color: var(--color-gray);
    height: 100%;
    width: 100%;
}

.user-title{
    background-color: #03B5AA;
}

.management-div{
    margin-left: 15px;
    font-size: 20px;
    color: white;
}
