.options-filters {
    margin: 0px 0 3px 0 !important;
    padding: 0;
}

.options-filters li{
    display: inline;
    margin: 0;
    margin-right: 10px;
    padding: 0px 10px 5px 10px;
    
    transition: background-color linear 250ms;
    transition: color linear 225ms;

    color: #333;
    font-weight: 500;
    letter-spacing: 0.5pt;
}

.options-filters li:hover {
    background-color: #EA7317;
    color: white;
    cursor: pointer;
}

.options-filter-container hr{
    padding: 0;
    margin: 0 !important;
    border-width: 1px;
    background-color: #100;
}

@media only screen and (max-width: 600px) {
    .options-filters li {
        margin-right: -1px;
    }
}