.login-container h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

label {
    padding-top: 15px;
    padding-right: 10px;
    display: inline-block;
    width: 100px;
    text-align: left;
    font-size: 14pt;
    font-weight: 500;
}

.login-container {
    background-color: white;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 14pt;
}

button {
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.button-container {
    text-align: right;
}