.anevent {
    position: relative;
    margin-bottom: 30px;
}

.anevent-info {
    color: black;
    font-size: 14pt;
    letter-spacing: 0.75pt;
    padding-top: 20px;
}

#row-anevent {
    margin: 0 auto !important;
}

.parainfo {
    width: auto;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.anevent-block {
    text-align: center;
    position: relative;
    height: 100px;
    transition: all linear 250ms;
}

.anevent-block p {
    font-size: 14pt;
    padding: 2px;
    margin: 0;
}

#bettypename {
    background-color: #3CC6A3;
    max-width: 130px;
    margin: 0 auto;
}


.anevent-block button {
    margin: 0 !important;
    padding: 10px 45px;
}

#buttonbettype {
    font-size: 12pt;
    letter-spacing: 0.75pt;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

#buttonbettype:focus {
    background-color: #EA7317;
    font-size: 12pt;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.anevent-date {
    color: black;
    letter-spacing: 0.75pt;
    position: absolute;
    margin-left: 15px;
}

.Bettype-odds {
    margin-bottom: 10px;
}

.anevent:last-child {
    border-bottom: 0;
}