.anevent {
    border-bottom: 1px solid #aaa; 
    height: auto;
    position: relative;
}

.anevent-info{
    float: left;
    width: 60%;
}

.anevent-info{
    color: black;
    font-size: 14pt;
    letter-spacing: 0.75pt;
    padding-top: 20px;
}

.parainfo{
    width: auto;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#buttonbettype{
    font-size: 12pt;
    letter-spacing: 0.75pt;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

#buttonbettype:focus{
    background-color: #EA7317;
    font-size: 12pt;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.anevent-date {
    color: black;
    letter-spacing: 0.75pt;
    position: absolute;
    margin-left: 15px;
}

.Bettype-odds{
    margin-bottom: 10px;
}

.anevent:last-child{
    border-bottom: 0;
}
