.navbar {
    background:linear-gradient(160deg, rgb(3, 128, 119) 0%,#03B5AA 40%);
    -webkit-box-shadow: -4px 6px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 25px -10px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 25px -10px rgba(0,0,0,0.75);

}

.container {
    margin: 0;
}

.navbar-container {
    padding-bottom: 5px;
}

.navbar-brand  {
    color: black;
    font-size: 20pt !important;
}

.nav-item a{
    color: black;
    font-size: 14pt;
    font-weight: 350;
    line-height: 0px;
    text-transform: uppercase;
}

.nav-item a:hover, .navbar-container a:hover{
    text-decoration: none;
    color: #EA7317;
}

[data-notifications] {
	position: relative;
}

[data-notifications]:after {
	content: attr(data-notifications);
	position: absolute;
	background: red;
	border-radius: 50%;
	display: inline-block;
    padding: 0.5em;
    font-size: 14px;
	color: #f2f2f2;
	right: 0px;
	top: -15px;
}
