.bet {
    border-bottom: 1px solid #aaa;
    position: relative;
}

.bet-info {
    color: black;
    font-size: 12pt;
    letter-spacing: 0.75pt;
    padding-top: 10px;
    font-weight: bold;
    padding: 20px 25px;
    margin: 0;
}

.bet-elements {
    color: black;
    font-size: 12pt;
    letter-spacing: 0.75pt;
    padding-top: 10px;
}


#button {
    font-size: 12pt;
    letter-spacing: 0.75pt;
    display: inline-block;
    margin-right: 30px;
}


.bet:last-child {
    border-bottom: 0;
}

.lost-bet {
    background-color: rgba(255, 71, 71, 0.438);
}

.won-bet {
    background-color: rgb(138, 230, 126);
}