.buttonsub {
    display: inline-block;
}

.buttonsub button {
    font-size: 10pt;
    width: auto;
    background-color: #EA7317;
    letter-spacing: 0.75pt;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 10px;
}


.input-info {
    display: inline-block;
    height: auto;
    width: auto;
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
}

.error-info {
    font-size: 14px;
    margin-left: 10px;
    color: red
}


.label-text {
    display: block;
    height: auto;
    width: auto;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
}

.addevents-form{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}


.eventbdate {
    width: 35%;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
}

.eventedate {
    width: 35%;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
}

.eventsport{
    width: 35%;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
    margin-top: 10px;
}

.eventname{
    width: 35%;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
}

.eventdescription{
    width: 35% !important;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
}

.eventpremium{
    width: 35%;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
}