.login-container h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

label {
    padding-top: 15px;
    padding-right: 10px;
    display: inline-block;
    width: 100px;
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
}

.login-container {
    background-color: white;
    padding: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 12pt;
}


button {
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.button-container {
    text-align: right;
}

.ErrorMess p{
    color: red;
    font-size: 10px;
}


.row{
    overflow-x: hidden;
    overflow-y: scroll;
}

.DivRegister{
    height: 200px;
    overflow-y: scroll;
}