.event-filters {
    margin: 5px 0 5px 0 !important;
    padding: 0;
}

.event-filters li{
    display: inline;
    margin: 0;
    margin-right: 10px;
    padding: 0px 10px 10px 10px;

    transition: background-color linear 250ms;
    transition: color linear 225ms;

    color: #333;
    font-weight: 500;
    letter-spacing: 0.5pt;
}

.event-filters li:hover {
    background-color: #EA7317;
    color: white;
    cursor: pointer;
}

.event-filter-container hr{
    padding: 0;
    margin: 0 !important;
    border-width: 1px;
    background-color: #100;
}

.Football{
    background-image: url('../../../assets/Sports/football.png');
    background-size: auto;
}

.Tenis{
    background-image: url('../../../assets/Sports/tennis.png');
    background-size: auto;
}

.Basketball{
    background-image: url('../../../assets/Sports/basketball.png');
    background-size: auto;
}

.Voleyball{
    background-image: url('../../../assets/Sports/volleyball.png');
    background-size: auto;
}

@media only screen and (max-width: 600px) {
    .event-filters li {
        margin-right: -1px;
    }
}