.bet-titles {
    width: 100%;
    width: 100px;
    font-size: 12pt;
    font-weight: bold;
}

.bet-amount {
    width: 90%;
    font-size: 14px;
}

.test {
    width: 100%;
    font-size: 12pt;
}

#bet-place {
    width: auto;
    background-color: #EA7317;
    margin-bottom: 10px;
}

.info-par {

    margin: 0;
    font-size: 20px;
}