.event {
    border-bottom: 1px solid #aaa; 
    height: 100px;
    position: relative;
    padding: 10px 0 0 20px;
}

.bet-titles{
    font-size: 12pt;
    font-weight: bold;
}

.bet-amount{
    width: 120px;
}

#bet-place{
    width: 70%;
    background-color: #EA7317;
    margin-bottom: 10px;
}