.buttonsub {
    display: inline-block;
}

.btn-edit{
    text-align: center;
}

.edit-user {
    height: auto;
    width: 100%;
    
    padding-left: 10px;
    padding-right: 30px;
}

.edit-form{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.edit-user p{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.error-info {
    font-size: 14px;
    margin-left: 10px;
    color: red
}


.label-text {
    display: block;
    height: auto;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
}


.editpassword{
    width: 35%;
    padding: 5px;
    margin-top: 5px;
    font-size: 10pt;
    background-image: url("../../../assets/Form/lock.png");
    background-repeat: no-repeat;
    text-indent: 30px;
    background-origin: content-box;
}


.editname{
    width: 35%;
    padding: 5px;
    margin-top: 5px;
    font-size: 10pt;
    background-image: url("../../../assets/Form/man-user.png");
    background-repeat: no-repeat;
    text-indent: 30px;
    background-origin: content-box;
}


.editemail{
    width: 35%;
    padding: 5px;
    margin-top: 5px;
    font-size: 10pt;
    background-image: url("../../../assets/Form/envelope.png");
    background-repeat: no-repeat;
    text-indent: 30px;
    background-origin: content-box;
}
