.events-container {
    background-color: #ccc;
    border: 2px solid #ccc;
    -webkit-box-shadow: -2px 3px 5px -1px rgba(145,145,145,1);
    -moz-box-shadow: -2px 3px 5px -1px rgba(145,145,145,1);
    box-shadow: -2px 3px 5px -1px rgba(145,145,145,1);
}