.event {
    border-bottom: 1px solid #ccc;
    min-height: 100px;
    padding: 10px 0 0 20px;
    position: relative;
}

.event-info {
    color: black;
    font-size: 14pt;
    letter-spacing: 0.75pt;
    padding-top: 20px;
}

#view-all-bettypes-container {
    margin: 0 !important;
    padding: 0 !important;
}

#view-all-bettypes {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0 !important;
    font-size: 20pt;
    border-radius: 0;
    background-color: #3CC6A3;
    width: 100px;
    color: whitesmoke;
}

#view-all-bettypes:hover {
    background-color: #FF7777;
}

#buttonodds {
    font-size: 12pt;
    letter-spacing: 0.75pt;
    display: inline-block;
    margin-right: 10px;
}

#buttonodds:focus {
    background-color: #EA7317;
    font-size: 14pt;
    display: inline-block;
    margin-right: 30px;
}

.event-date {
    color: black;
    letter-spacing: 0.75pt;
    position: absolute;
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {

    #view-all-bettypes {
        width: 40px;
    }

}