.event {
    border-bottom: 1px solid #aaa; 
    height: 100px;
    position: relative;
    padding: 10px 0 0 20px;
}

.event-info{
    float: left;
    width: 60%;
}

.event-info{
    color: black;
    font-size: 14pt;
    letter-spacing: 0.75pt;
    padding-top: 20px;
}


#buttonodds{
    font-size: 12pt;
    letter-spacing: 0.75pt;
    display: inline-block;
    margin-right: 10px;
}

#buttonodds:focus{
    background-color: #EA7317;
    font-size: 14pt;
    display: inline-block;
    margin-right: 30px;
}

.event-date {
    color: black;
    letter-spacing: 0.75pt;
    position: absolute;
    margin-left: 15px;
}

#liDetails{
        margin: 5px 0 5px 0 !important;
        padding: 0;
}

.ButDetails{
    background-image: url("../../../assets/add-options.png");
    background-size: auto;    
    margin: 0;
    margin-right: 42px;
    padding: 0px 10px 0px 10px;

    transition: background-color linear 250ms;
    transition: color linear 225ms;

    color: #333;
    font-weight: 500;
    letter-spacing: 0.5pt;
    margin-top: 20px;
}

.ButDetails:hover {
    background-color: #EA7317;
    color: white;
    cursor: pointer;
}

.event:last-child{
    border-bottom: 0;
}
