.anevents-container {
    background-color: var(--color-gray);
}

.BetText {
    border-bottom: 2px solid #03B5AA;
    margin: 0;
    padding: 0;
}

.BetText p {
    margin: 0;
    font-size: 13pt;
    padding: 5px 15px;
    margin-bottom: -10px;
}

.Infodiv {
    margin-left: 15px;
    font-size: 20px;
}