.anevents-container {
    background-color: var(--color-gray);
}

.BetText {
    background-color: #03B5AA;
}

.BetText p {
    margin: 0;
    padding: 10px 20px;
    font-size: 14pt;
}

.Infodiv {
    margin-left: 15px;
    font-size: 20px;
}